name = "hass-stellantis-vehicles-oauth"
main = "src/index.js"
compatibility_date = "2025-12-01"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true